$bg-color: #fbfbfb;
$bg-dark: #424446;
$bg-darker: #1e1e1e;

$primary: #28666e;
$primary-light: #7c9885;
$primary-lighter: #9ebaa7;
$secondary: #333333;
$secondary-lighter: #929699;

$gap: 32px;
$tablet: 769px;
$desktop: 960px+ (2 * $gap);
$widescreen: 1152px+ (2 * $gap);
$fullhd: 1344px+ (2 * $gap);
$dark-gray: #929699;

// shadow
$box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

// font color
$font-light: #777777;
$font-lighter: #d4d4d4;
$font-dark: #202224;

// default padding btn
$default-padding-btn: 12px 56px;
$default-margin: 20px;
$default-padding: 20px;
